.logo {
    height: 75px;
    width: 75px;
    background-color: rgb(86, 106, 163);
    border-radius: 50%;
    background-image: url(logo.png);
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}